<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kanma.dao.ItemsDao">
    <sql id="BASE_TABLE">
        items
    </sql>
    <sql id="BASE_COLUMN">
        id,name,price,detail,pic,createtime
    </sql>

    <select id="selectItems" resultType="com.kanma.model.ItemsDomain">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
    </select>

</mapper>